<aside class="erp-sidebar" [class.collapsed]="collapsed">

  <div class="logo">
    <i class="bi bi-building"></i>

    @if (!collapsed) {
      <span>NexaERP</span>
    }
  </div>

  <nav>

    @for (item of menu; track item.label) {

      @if (item.children?.length) {

        <div class="menu-group">

          @if (!collapsed) {
            <h6>{{ item.label }}</h6>
          }

          @for (child of item.children; track child.label) {

            <a
              [routerLink]="child.route"
              routerLinkActive="active">

              <i class="bi" [class]="child.icon"></i>

              @if (!collapsed) {
                <span>{{ child.label }}</span>
              }

            </a>

          }

        </div>

      } @else {

        <a
          [routerLink]="item.route"
          routerLinkActive="active">

          <i class="bi" [class]="item.icon"></i>

          @if (!collapsed) {
            <span>{{ item.label }}</span>
          }

        </a>

      }

    }

  </nav>

</aside>